<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

   # Block access to all PHP files except index.php
    <FilesMatch "\.(php|phar|phtml|php[0-9]*)$">
        <If "%{REQUEST_URI} != '/index.php'">
            Order allow,deny
            Deny from all
        </If>
    </FilesMatch>

    # Block access to other potentially dangerous executable file types
    <FilesMatch "\.(sh|pl|py|exe|cgi)$">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Block access to Apache server files (like .htaccess)
    <FilesMatch "^\.ht">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
